@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

h1 {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

#profilePic {
    border-radius: 50%;
    width: 300px;
    margin: 0 auto;
}